In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('train.csv')
data.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85

In [3]:
data_train = pd.read_csv('train.csv')

In [4]:
data_train['isTrain'] = True

In [5]:
import re
cat_pattern = re.compile("cat([1-9]|[1-9][0-9]|[1-9][0-9][0-9])$")
cont_pattern = re.compile("cont([1-9]|[1-9][0-9]|[1-9][0-9][0-9])$")
cat_col = sorted([cat for cat in data_train.columns if 'cat' in cat] , key=lambda s: int(s[3:]))
cat_col

['cat1',
 'cat2',
 'cat3',
 'cat4',
 'cat5',
 'cat6',
 'cat7',
 'cat8',
 'cat9',
 'cat10',
 'cat11',
 'cat12',
 'cat13',
 'cat14',
 'cat15',
 'cat16',
 'cat17',
 'cat18',
 'cat19',
 'cat20',
 'cat21',
 'cat22',
 'cat23',
 'cat24',
 'cat25',
 'cat26',
 'cat27',
 'cat28',
 'cat29',
 'cat30',
 'cat31',
 'cat32',
 'cat33',
 'cat34',
 'cat35',
 'cat36',
 'cat37',
 'cat38',
 'cat39',
 'cat40',
 'cat41',
 'cat42',
 'cat43',
 'cat44',
 'cat45',
 'cat46',
 'cat47',
 'cat48',
 'cat49',
 'cat50',
 'cat51',
 'cat52',
 'cat53',
 'cat54',
 'cat55',
 'cat56',
 'cat57',
 'cat58',
 'cat59',
 'cat60',
 'cat61',
 'cat62',
 'cat63',
 'cat64',
 'cat65',
 'cat66',
 'cat67',
 'cat68',
 'cat69',
 'cat70',
 'cat71',
 'cat72',
 'cat73',
 'cat74',
 'cat75',
 'cat76',
 'cat77',
 'cat78',
 'cat79',
 'cat80',
 'cat81',
 'cat82',
 'cat83',
 'cat84',
 'cat85',
 'cat86',
 'cat87',
 'cat88',
 'cat89',
 'cat90',
 'cat91',
 'cat92',
 'cat93',
 'cat94',
 'cat95',
 'cat96',
 'cat97',
 'cat98',
 'cat99',
 'cat100',
 'cat101',
 'cat102',
 'cat103',
 'cat104',
 'cat105',
 'cat106',
 'cat107',
 'cat108',
 'cat109',
 'cat110',
 'cat111',
 'cat112',
 'cat113',
 'cat114',
 'cat115',
 'cat116']

In [6]:
cat_index = [i for i in range(0, len(data_train.columns)) if cat_pattern.match(data_train.columns[i])]
cat_index

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116]

In [7]:
cont_col = sorted([cont for cont in data_train.columns if 'cont' in cont] , key=lambda s: int(s[4:]))
cont_col

['cont1',
 'cont2',
 'cont3',
 'cont4',
 'cont5',
 'cont6',
 'cont7',
 'cont8',
 'cont9',
 'cont10',
 'cont11',
 'cont12',
 'cont13',
 'cont14']

In [8]:
cont_index = [i for i in range(0, len(data_train.columns)) if cont_pattern.match(data_train.columns[i])]
cont_index

[117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130]

In [9]:
from catboost import CatBoostRegressor
from sklearn.model_selection import train_test_split

In [23]:
model = CatBoostRegressor(iterations=100 , learning_rate=0.05 , depth=6 , eval_metric='MAE' , verbose=4 , task_type="GPU" , save_snapshot=True , snapshot_file='mahdi' , snapshot_interval=10)

In [18]:
X = data_train.drop(['id','loss','isTrain'] , axis=1)
y = np.log(data_train['loss'])
X_train , X_test , y_train , y_test = train_test_split(X,y , random_state=2334)

In [19]:
cat_index

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116]

چون که ستون اول که ای دی بود حذف شد ما باید یکی از تمام اندیکس ها حدف کنیم ک سر جایش بیافتد

In [24]:
model.fit(X_train , y_train , np.asarray(cat_index) - 1 , eval_set=(X_test , y_test))

Default metric period is 5 because MAE is/are not implemented for GPU

0:	learn: 0.6479072	test: 0.6490122	best: 0.6490122 (0)	total: 53.5ms	remaining: 5.3s
4:	total: 247ms	remaining: 4.7s
8:	total: 442ms	remaining: 4.47s
12:	total: 642ms	remaining: 4.3s
16:	total: 834ms	remaining: 4.07s
20:	learn: 0.5173707	test: 0.5192425	best: 0.5192425 (20)	total: 1.08s	remaining: 4.07s
24:	total: 1.28s	remaining: 3.85s
28:	total: 1.49s	remaining: 3.65s
32:	total: 1.69s	remaining: 3.44s
36:	total: 2.04s	remaining: 3.47s
40:	learn: 0.4749484	test: 0.4764767	best: 0.4764767 (40)	total: 2.25s	remaining: 3.23s
44:	total: 2.45s	remaining: 3s
48:	total: 2.64s	remaining: 2.75s
52:	total: 2.83s	remaining: 2.51s
56:	total: 3.09s	remaining: 2.33s
60:	learn: 0.4561545	test: 0.4575359	best: 0.4575359 (60)	total: 3.38s	remaining: 2.16s
64:	total: 3.56s	remaining: 1.92s
68:	total: 3.76s	remaining: 1.69s
72:	total: 3.94s	remaining: 1.46s
76:	total: 4.13s	remaining: 1.23s
80:	learn: 0.4459848	test: 0.4475254	best: 0.4475254 (80)	total: 4.3s	remaining: 1.01s
84:	total: 4.49s	remaining: 793ms
88:	total: 4.68s	remaining: 578ms
92:	total: 4.88s	remaining: 367ms
96:	total: 5.06s	remaining: 156ms
99:	learn: 0.4401124	test: 0.4417837	best: 0.4417837 (99)	total: 5.19s	remaining: 0us
bestTest = 0.4417837242
bestIteration = 99

In [28]:
del X_test
del X_train
del X
del y_test
del y_train

In [21]:
data_test = pd.read_csv('test.csv')
data_test.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
0,4,A,B,A,A,A,A,A,A,B,...,0.281143,0.466591,0.317681,0.61229,0.34365,0.38016,0.377724,0.369858,0.704052,0.392562
1,6,A,B,A,B,A,A,A,A,B,...,0.836443,0.482425,0.443760,0.71330,0.51890,0.60401,0.689039,0.675759,0.453468,0.208045
2,9,A,B,A,B,B,A,B,A,B,...,0.718531,0.212308,0.325779,0.29758,0.34365,0.30529,0.245410,0.241676,0.258586,0.297232
3,12,A,A,A,A,B,A,A,A,A,...,0.397069,0.369930,0.342355,0.40028,0.33237,0.31480,0.348867,0.341872,0.592264,0.555955
4,15,B,A,A,A,A,B,A,A,A,...,0.302678,0.398862,0.391833,0.23688,0.43731,0.50556,0.359572,0.352251,0.301535,0.825823

In [33]:
import pickle
with open('catboost_regressin.7learn' , 'wb') as f:
    pickle.dump(model,f )